header {
    display: flex;
    flex-direction: row;
    background-color: aqua;
    padding: 5px;
}

#pblogo {
    width: 30%;
}

#menu {
    width: 10%;
    margin-left: auto;
    position: relative;
}

#intmenu {
    display: none;
    position: absolute;
    background-color: antiquewhite;
    width: 90vw;
    margin-top: 65px;
    padding: 10px;
    text-align: right;
}

a {
    text-decoration: none;
    color: black;
}

#s1 {
    height: 70vh;
    align-content: center;
    text-align: center;
    background-color: beige;
    margin-top: 5px;
}

#s2 {
    height: 45vh;
    background-color: beige;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10%;
}


#s3 {
    height: 35vh;
    background-color: beige;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    padding: 10%;
}

.picplaceholder {
    width: 100%;
    height: 80%;
    background-color: burlywood;
}

button {
    background-color: burlywood;
    margin-top: 5px;
    height: 7vh;
    width: 100%;
}

#s4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    background-color: beige;
    margin-top: 5px;
    gap: 15px;
    padding: 15px;
    height: 35vh;
}

#s4 aside {
    display: flex;
    grid-column: 1/3;
    grid-row: 1/3;
}

#s4 button {
    margin-top: 25vh;
    grid-column: 1/3;
}

#s4 .picplaceholder {
    width: 60%;
    margin-right: 10px;
    height: 26vh;
}

#s4 p {
    width: 40%;
    height: 24vh;
    overflow: scroll;
}

#gridpph {
    grid-column: 1/2;
    grid-row: 1/3;
    height: 100%;
}

#s5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    background-color: beige;
    margin-top: 5px;
    gap: 15px;
    padding: 15px;
    height: 20vh;
}

#s6 {
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    align-items: center;
    background-color: beige;
    margin-top: 5px;
    padding: 15px;
    height:25vh;
    gap: 15px;
}

#ch-select {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 5px;
    background-color: burlywood;
    padding: 65px;
}

.charaicon {
    background-color: blanchedalmond;
    width: 15vw;
    height: 7vh;
    margin: 0 auto;
}

#ch_holder {
    background-color: blanchedalmond;
    width: 90.5%;
    margin-top: 5px;
    height: 80vh;
    text-align: center;
    padding: 20px;
}

.ch-popup {
    background-color: blanchedalmond;
    width: 90.5%;
    margin-top: 5px;
    height: 80vh;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

#ch-popup p {
    text-align: left;
}

#ch_img {
    width: 70vw;
    height: 35vh;
}

#ep-box {
    display: none;
    margin: 0;
    background-color: blanchedalmond;
    padding: 20px;
}

#page_holder {
    background-color: burlywood;
    margin-top: 5px;
}

#warnings {
    height: 196vh;
    padding: 10px;
    background-color: blanchedalmond;
}

.pages {
    background-color: burlywood;
    height: 95vh;
    width: 95%;
    margin: 0 auto;
}

.titles {
    text-align: center;
}

#controller {
    height: 10vh;
}

footer {
    background-color: burlywood;
    margin-top: 5px;
    padding: 15px;
    height: 8vh;
}