header {
    display: flex;
    flex-direction: row;
    background-color: burlywood;
    padding: 5px;
}

#pblogo {
    width: 30%;
}

#menu {
    width: 10%;
    margin-left: auto;
    position: relative;
}

#intmenu {
    display: none;
    position: absolute;
    background-color: antiquewhite;
    width: 90%;
    margin-top: 52px;
    padding: 10px;
    text-align: right;
    z-index: 2;
}

a {
    text-decoration: none;
    color: black;
}

#s1 {
    height: 70vh;
    align-content: center;
    text-align: center;
    background-color: beige;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#slprev,
#slnext {
    transform: rotate(90deg);
}

#slprev img,
#slnext img {
    width: 10%;
}

#s2 {
    height: 45vh;
    background-color: beige;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10%;
}


#s3 {
    height: 35vh;
    background-color: beige;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    padding: 10%;
}

.picplaceholder {
    width: 100%;
    height: 80%;
    background-color: burlywood;
}

button {
    background-color: burlywood;
    margin-top: 5px;
    height: 7vh;
    width: 100%;
}

#s4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    background-color: beige;
    margin-top: 5px;
    gap: 15px;
    padding: 15px;
    height: 35vh;
}

#s4 aside {
    display: flex;
    grid-column: 1/3;
    grid-row: 1/3;
}

#s4 button {
    margin-top: 25vh;
    grid-column: 1/3;
}

#s4 .picplaceholder {
    width: 60%;
    margin-right: 10px;
    height: 26vh;
}

#s4 p {
    width: 40%;
    height: 24vh;
    overflow: scroll;
}

#gridpph {
    grid-column: 1/2;
    grid-row: 1/3;
    height: 100%;
}

#s5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    background-color: beige;
    margin-top: 5px;
    gap: 15px;
    padding: 15px;
    height: 20vh;
}

#s6 {
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    align-items: center;
    background-color: beige;
    margin-top: 5px;
    padding: 15px;
    height: 25vh;
    gap: 15px;
}

#ch-select {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 5px;
    background-color: burlywood;
    padding: 65px;
}

.charaicon {
    background-color: blanchedalmond;
    width: 15vw;
    height: 7vh;
    margin: 0 auto;
}

#ch_holder {
    background-color: blanchedalmond;
    width: 90.5%;
    margin-top: 5px;
    height: 80vh;
    text-align: center;
    padding: 20px;
}

.ch-popup {
    background-color: blanchedalmond;
    width: 90.5%;
    margin-top: 5px;
    height: 80vh;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

#ch-popup p {
    text-align: left;
}

#ch_img {
    width: 70vw;
    height: 35vh;
}

#ep-box {
    display: none;
    margin: 0;
    background-color: blanchedalmond;
    padding: 20px;
}

#page_holder {
    background-color: burlywood;
    margin-top: 5px;
}

#warnings {
    height: 196vh;
    padding: 10px;
    background-color: blanchedalmond;
}

.pages {
    background-color: burlywood;
    height: 95vh;
    width: 95%;
    margin: 0 auto;
}

.titles {
    text-align: center;
    align-content: center;
}

#controller {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#prev {
    width: 10vw;
    height: 5vh;
    background-image: url(IMG/arrow_left.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#HOME {
    width: 10vw;
    height: 5vh;
    background-image: url(IMG/home.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#next {
    width: 10vw;
    height: 5vh;
    background-image: url(IMG/arrow_right.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#intdemo {
    text-align: center;
    align-content: center;
    height: 50vh;
    background-color: blanchedalmond;
    margin-top: 5px;
}

#controls {
    background-color: darksalmon;
    margin-top: 5px;
    height: 20vh;
    padding: 50px;
}

#newz {
    margin-top: 5px;
    background-color: blanchedalmond;
    padding: 20px;
}

.newzbox {
    width: 90%;
    background-color: rgb(161, 51, 0);
    margin: auto;
    text-align: center;
    padding: 10px;
}

.newzbox p {
    padding-left: 30px;
    padding-right: 30px;
}

.imgnewz {
    background-color: bisque;
    height: 20vh;
    width: 100%;
}

.modalbtn {
    width: 70%;
}

#contact {
    margin-top: 5px;
    background-color: burlywood;
    text-align: center;
}

#formbox {
    padding: 10px;
}

#send {
    width: 90%;
    height: 5vh;
}

#socials {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
}

.rssicon {
    width: 10vw;
    height: 5vh;
    background-color: blanchedalmond;
}

footer {
    background-color: burlywood;
    margin-top: 5px;
    padding: 15px;
    height: 8vh;
}

@media screen and (min-width: 768px) {
    /* Home page */
    #s1 {
        flex-direction: row;
        height: 70vh;
        justify-content: center;
        align-items: center;
    }

    #s1 .picplaceholder {
        width: 100%;
        height: 100%;
    }

    #slprev,
    #slnext {
        transform: rotate(0deg);
        width: 10%;
    }

    #slprev img,
    #slnext img {
        width: 90%;
    }

    #s2 {
        flex-direction: row;
        margin: auto;
        margin-top: 5px;
        height: 30vh;
    }

    #s2 .picplaceholder {
        width: 900px;
        height: 260px;
    }

    #s2 p {
        padding: 20px;
    }

    #s3 {
        justify-content: center;
        align-items: center;
        height: 50vh;
    }

    #s3 .picplaceholder {
        width: 90%;
    }

    #s4 {
        height: 50vh;
    }

    #s4 .picplaceholder {
        height: 40vh;
    }

    #s4 p {
        overflow: visible;
    }

    #s5 {
        height: 30vh;
        align-items: center;
    }

    #gridpph {
        height: 30vh;
        width: 45vw;
    }

    #s5 aside {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
}

    #s6 {
        height: 40vh;
    }

    #s6 .picplaceholder {
        height: 40vh;
    }

    /* Characters page */
}

@media screen and (min-width: 1232px){
    /* Home page */
    #homemain {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #s1, #s2, #s3, #s4, #s5, #s6, #homemain button {
        grid-column: 2/3;
    }
}