header {
    display: flex;
    flex-direction: row;
    background-color: #12125b;
    padding: 5px;
}

#pblogo {
    width: 30%;
}

#menu {
    width: 10%;
    margin-left: auto;
    position: relative;
}

#intmenu {
    display: none;
    position: absolute;
    background-color: #6969c4;
    width: 92%;
    margin-top: 5px;
    padding: 10px;
    text-align: right;
    z-index: 2;
}

a {
    text-decoration: none;
    color: black;
}

#s1 {
    height: 50vh;
    align-content: center;
    text-align: center;
    background-color: #6969c4;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

#slprev,
#slnext {
    all: unset;
    background-color: #b3b3f4;
}

#slprev img,
#slnext img {
    width: 5%;
    transform: rotate(90deg);
}

#s1slider {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: #6969c4;
}

.s1slides {
    width: 100%;
    object-fit: contain;
}

#homevideo {
    display: none;
}

#homevideo header {
    justify-content: flex-end;
    height: 3vh;
}

#homevideo video {
    width: 100%;
}

#s2 {
    height: 45vh;
    background-color: #6969c4;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10%;
}

#s2img {
    width: 80vw;
    height: 40vh;
    background-image: url(IMG/portrait_ch1.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#s3 {
    height: 35vh;
    background-color: #6969c4;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10%;
}

#s3img {
    width: 40vw;
    height: 40vw;
    background-image: url(IMG/demo_thumbnail.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}

.picplaceholder {
    width: 100%;
    height: 80%;
}

button {
    background-color: #b3b3f4;
    margin-top: 5px;
    height: 7vh;
    width: 100%;
}

#s4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    background-color: #6969c4;
    margin-top: 5px;
    gap: 15px;
    padding: 15px;
    height: 35vh;
}

#s4img {
    background-image: url(IMG/comic_thumbnail.png);
    background-repeat: no-repeat;
    background-size: contain;   
}

#s4 aside {
    display: flex;
    grid-column: 1/3;
    grid-row: 1/3;
}

#s4 button {
    margin-top: 25vh;
    grid-column: 1/3;
}

#s4 .picplaceholder {
    width: 60%;
    margin-right: 10px;
    height: 26vh;
}

#s4 p {
    width: 40%;
    height: 24vh;
    overflow: scroll;
}


#s5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    background-color: #6969c4;
    margin-top: 5px;
    gap: 15px;
    padding: 15px;
    height: 25vh;
}

#s5img {
    background-image: url(IMG/characters_tumbnail.png);
    background-repeat: no-repeat;
    background-size: contain;
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
}

#s6 {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    align-items: center;
    background-color: #6969c4;
    margin-top: 5px;
    padding: 15px;
    height: 40vh;
    gap: 15px;
}

#s6img {
    background-image: url(IMG/blog.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

#ch-select {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 5px;
    background-color: #6969c4;
    padding: 65px;
}

.charaicon {
    width: 21vw;
    height: 10vh;
    margin: 0 auto;
}

.charaicon:hover {
    cursor: pointer;
}

#ch1 {
    background-image: url(IMG/ch1.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#ch2 {
    background-image: url(IMG/ch2.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#ch3 {
    background-image: url(IMG/ch3.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#ch4 {
    background-image: url(IMG/ch4.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

#ch5 {
    background-image: url(IMG/ch5.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

#ch6 {
    background-image: url(IMG/ch6.svg);
    background-repeat: no-repeat;
    background-size: contain;
}


#ch_holder {
    background-color: #6969c4;
    margin-top: 5px;
    height: 93vh;
    text-align: center;
    padding: 20px;
    position: relative;
    overflow: scroll;
}

.ch-popup {
    background-color: #6969c4;
    width: 90.5%;
    margin-top: 5px;
    height: 80vh;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
}

.ch-popup p {
    text-align: left;
}

.ch_portrait {
    width: 59vw;
    height: 23vh;
}

#ch_img1 {
    background-image: url(IMG/portrait_ch1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#ch_img2 {
    background-image: url(IMG/portrait_ch2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#ch_img3 {
    background-image: url(IMG/portrait_ch3.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#ch_img4 {
    background-image: url(IMG/portrait_ch4.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#ch_img5 {
    background-image: url(IMG/portrait_ch5.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#ch_img6 {
    background-image: url(IMG/portrait_ch6.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#ep-box {
    display: none;
    margin: 0;
    background-color: #b3b3f4;
    padding: 20px;
}

#page_holder {
    background-color: #6969c4;
    margin-top: 5px;
}

#pagescroll {
    overflow: scroll;
    height: 95vh;
}

.chapters {
    padding: 10px;
    background-color: #6969c4;
}

.pages {
    height: 88vh;
    width: 90%;
    margin: 0 auto;
}

#page0 {
    background-image: url(IMG/WARNINGSpage.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#page1 {
    background-image: url(IMG/page1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.titles {
    text-align: center;
    align-content: center;
}

#controller {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#prev {
    width: 10vw;
    height: 5vh;
    background-image: url(IMG/arrow_left.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#HOME {
    width: 10vw;
    height: 5vh;
    background-image: url(IMG/home.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#next {
    width: 10vw;
    height: 5vh;
    background-image: url(IMG/arrow_right.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#intdemo {
    text-align: center;
    align-content: center;
    height: 50vh;
    margin-top: 5px;
}

#demo,
#democ {
    display: none;
}

#controls {
    background-color: #b3b3f4;
    margin-top: 5px;
    height: 20vh;
    padding: 50px;
}

#newz {
    margin-top: 5px;
    background-color: #b3b3f4;
    padding: 20px;
}

.newzmodal {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 100%;
    width: 96.9%;
    height: 110vh;
    display: none;
    position: absolute;
    align-self: center;
    justify-self: center;
}

#thomaspr {
    height: 32vh;
    width: 100%;
    background-image: url(IMG/thomas\ character\ ref.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#mnewz2 p,
#mnewz1 p {
    text-align: left;
}

.newzclose {
    width: 10%;
}

.newzbox {
    width: 90%;
    background-color: #6969c4;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.newzbox p {
    padding-left: 30px;
    padding-right: 30px;
}

.imgnewz {
    background-image: url(IMG/blog.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 22vh;
    width: 100%;
}

.modalbtn {
    width: 70%;
}

#contact {
    margin-top: 5px;
    background-color: #b3b3f4;
    text-align: center;
}

#formbox {
    padding: 10px;
}

#send {
    width: 90%;
    height: 5vh;
}

#socials {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
}

.rssicon {
    width: 7vw;
    height: 5vh;
}

#icon1 {
    background-image: url(IMG/instagram.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#icon2 {
    background-image: url(IMG/reddit.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#icon3 {
    background-image: url(IMG/tiktok.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#icon4 {
    background-image: url(IMG/tumblr.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#icon5 {
    background-image: url(IMG/youtube.png);
    background-repeat: no-repeat;
    background-size: contain;
}

footer {
    background-color: #12125b;
    margin-top: 5px;
    padding: 15px;
    height: 8vh;
    text-align: center;
    align-content: center;
    color: white;
}

/* Tablet */

@media screen and (min-width: 768px) {

    /* Home page */
    #intmenu {
        width: 97%;
    }

    #s1 {
        flex-direction: row;
        height: 70vh;
        justify-content: center;
        align-items: center;
    }


    #slprev,
    #slnext {
        width: 10%;
        height: 100%;
    }

    #slprev img,
    #slnext img {
        width: 90%;
        transform: rotate(0deg);
    }

    #s2 {
        flex-direction: row;
        margin: auto;
        margin-top: 5px;
        height: 30vh;
    }

    #s2 .picplaceholder {
        width: 900px;
        height: 260px;
    }

    #s2 p {
        padding: 20px;
    }

    #s3 {
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    #s3img {
        width: 50%;
    }



    #s4 {
        height: 90vh;
    }

    #s4 .picplaceholder {
        height: 80vh;
    }

    #s4 p {
        overflow: visible;
    }

    #s5 {
        height: 70vh;
    }

    #s5img {
        width: 38vw;
        height: 100vh;
    }

    #gridpph {
        height: 30vh;
        width: 45vw;
    }

    #s5 aside {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
    }

    #s6 {
        height: 80vh;
    }

    #s6 .picplaceholder {
        height: 70vh;
        width: 40vw;
    }

    /* Characters page */

    #ch_holder {
        height: 100vh;
    }

    .ch_portrait {
        width: 40vw;
        height: 60vh;
    }

    /* Comics page */

    #prev,
    #HOME,
    #next {
        width: 4%;
    }

    /* Blog page */

    .newzbox {
        width: 70%;
    }

    .imgnewz {
        height: 60vh;
        width: 100%;
    }

    #thomaspr {
        width: 85vw;
        height: 60vh;
    }

    #newzmid2 {
        height: 189vh;
    }

    #newzmid1 {
        height: 186vh;
    }

    /* Contact page */

    .rssicon {
        width: 7%;
    }
}

/* PC */

@media screen and (min-width: 1232px) {

    /* Home page */
    header {
        justify-content: center;
    }

    #pblogo {
        width: 20%;
    }

    #menu {
        display: none;
    }

    #intmenu {
        display: block;
        display: flex;
        gap: 40px;
        justify-content: center;
        width: 99.1%;
        position: sticky;
    }

    #homemain {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #s1,
    #s2,
    #s3,
    #s4,
    #s5,
    #s6,
    #homemain button,
    #homevideo {
        grid-column: 2/3;
    }

    #s2 {
        width: 80%;
    }

    #s4 button {
        grid-column: 1/3;
    }

    #gridpph {
        max-width: 40vw;
        max-height: 27vh;
    }

    #s5 {
        height: 63vh;
    }

    #s5img {
        width: 100%;
        height: 30vw;
    }

    /* Characters page */

    #ch_main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .charaicon {
        max-width: 30%;
    }

    #ch-select,
    #ch_holder {
        grid-column: 2/3;
    }

    #ch_holder {
        justify-content: center;
        height: 100vh;
    }

    .ch-popup {
        width: 96%;
    }

    .ch_portrait {
        width: 37vw;
        height: 50vh;
        background-color: #b3b3f4;
    }

    /* Comics page */

    #comic_main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #ep-select,
    #page_holder {
        grid-column: 2/3;
    }

    #prev,
    #HOME,
    #next {
        width: 7%;
    }

    /* Demo page */

    #intdemo {
        display: flex;
        flex-direction: column;
        height: 80vh;
    }

    #demo {
        display: block;
        background-color: black;
        width: 100%;
        height: 90%;
    }

    #democ {
        display: flex;
        background-color: #6969c4;
        width: 100%;
        height: 10%;
        justify-content: right;
    }

    #intdemo p {
        display: none;
    }

    /* Blog page */

    #newz {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .newzbox {
        width: 100%;
        grid-column: 2/3;
        margin-bottom: 20px;
    }

    .imgnewz {
        height: 30vh;
        width: 100%;
    }

    #thomaspr {
        width: 100%;
        height: 50vh;
    }

    #newzmid2 {
        width: 100%;
        height: 30vh;
    }

    #newzmid1 {
        height: 130vh;
    }

    /* Contact page */

    .rssicon {
        width: 4%;
    }
}