header {
    display: flex;
    flex-direction: row;
    background-color: aqua;
    padding: 5px;
}

#pblogo {
    width: 30%;
}

#menu {
    width: 10%;
    margin-left: auto;
    position: relative;
}

#intmenu {
    display: none;
    position: absolute;
    background-color: antiquewhite;
    width: 90vw;
    margin-top: 50px;
    padding: 10px;
}